@import "../../../styles.scss";

.spinner-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(10px);
  background-color: rgba(23, 23, 23, 0.6);

  .spinner {
    border: 3px solid rgba(250, 245, 255, 0.5);
    border-top-color: map-get($colors, background-0);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
