<the-band-header />

<div id="home" class="shows-carousel swiper">
  <div class="swiper-wrapper">
    @for (show of shows; track $index) {
    <div class="swiper-slide">
      <div class="show-slide">
        <div class="show-slide-image">
          <img [src]="show.image" [alt]="show.title" />
        </div>
        <div class="show-slide-content">
          <h3>{{ show.title }}</h3>
          <p>{{ show.description }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<div id="band" class="band-info container">
  <h2 class="band-info-title">The Band</h2>
  <p class="band-info-slogan">We love music</p>
  <p class="band-info-desc">
    We have created a fictional band website. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat.
  </p>
  <div class="band-info-members">
    @for (bandMember of bandMembers; track $index) {
    <div class="band-member">
      <p class="band-member-name">{{ bandMember.name }}</p>
      <img
        class="band-member-avatar"
        [src]="bandMember.avatar"
        [alt]="bandMember.name"
      />
    </div>
    }
  </div>
</div>

<div id="tour" class="tour-info">
  <div class="container">
    <h2 class="tour-info-title">Tour Dates</h2>
    <p class="tour-info-slogan">Remember to book your tickets!</p>
    <br />
    <ul class="tour-info-calendar">
      @for (showTicket of showTickets; track $index) {
      <li
        [ngClass]="{
          'calendar-item': true,
          'available': showTicket.available,
          'sold-out': !showTicket.available,
        }"
      >
        <span class="calendar-item-date">{{ showTicket.month }}</span>
        <span
          [ngClass]="{
          'available': showTicket.available,
          'sold-out': !showTicket.available,
        }"
        >
          {{ showTicket.available || "Sold out" }}
        </span>
      </li>
      }
    </ul>
    <ul class="tour-info-tickets">
      @for (ticketDate of ticketDates; track $index) {
      <li class="tickets-item">
        <img
          class="thumbnail"
          [src]="ticketDate.thumbnail"
          [alt]="ticketDate.place"
        />
        <div class="text">
          <p class="place">{{ ticketDate.place }}</p>
          <span class="date">{{ ticketDate.date }}</span>
          <p class="description">
            {{ ticketDate.description }}
          </p>
          <button
            (click)="toggleModal()"
            class="buy-ticket-button"
            type="button"
          >
            Buy Tickets
          </button>
        </div>
      </li>
      }
    </ul>
  </div>
</div>

<the-band-footer />

<div id="myModal" class="modal" #modal>
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="toggleModal()" class="close">&times;</span>
      <h2>Tickets</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>
