@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&-display=swap");

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$font-weights: (
  thin: 300,
  normal: 400,
  semi-bold: 500,
  bold: 600,
  bolder: 700,
  extraBold: 800,
);

$colors: (
  background-0: #faf5ff,
  background-1: #171717,

  text-0: #faf5ff,
  text-1: #171717,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' does not exist!";
  }
}

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;

  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-family: "Open Sans", sans-serif;
  font-weight: map-get($font-weights, normal);

  color: map-get($colors, text-1);
}

body {
  background-color: map-get($colors, background-0);
}

.container {
  max-width: 800px;

  margin: 0 auto;

  padding: 64px 16px;
}

.modal {
  z-index: 3;

  overflow: auto;

  position: fixed;
  left: 0;
  top: 0;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  @include respond-to(xs) {
    padding-top: 50px;
  }

  @include respond-to(sm) {
    padding-top: 50px;
  }

  @include respond-to(md) {
    padding-top: 50px;
  }

  @include respond-to(lg) {
    padding-top: 100px;
  }
}

.modal-content {
  position: relative;

  width: 80%;

  margin: auto;

  padding: 0;

  border: 1px solid #888;

  -webkit-animation-name: animateTop;
  -webkit-animation-duration: 0.4s;
  animation-name: animateTop;
  animation-duration: 0.4s;

  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include respond-to(xs) {
    width: auto;
    margin: 0 10px;
  }

  @include respond-to(md) {
    width: 500px;
    margin: auto;
  }

  @include respond-to(lg) {
    width: 900px;
    margin: auto;
  }
}

.modal-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 42px 16px;

  color: map-get($colors, text-0);
  background-color: #009688;

  &-icon::before {
    margin-right: 16px;

    font-size: 30px;

    color: map-get($colors, text-0) !important;
  }

  &-title {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;

    color: map-get($colors, text-0);
  }

  &-cancel {
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;

    padding: 8px 16px;

    font-size: 28px;
    font-weight: bold;
    text-decoration: none;

    color: map-get($colors, text-0);

    &:hover,
    &:focus {
      color: map-get($colors, text-1);
      background-color: #ccc;
    }
  }
}

.modal-body {
  padding: 2px 16px;

  .modal-body-form {
    display: block;
    &-group {
      display: flex;
      flex-direction: column;

      .label {
        margin-top: 15px;
        margin-bottom: 15px;

        font-size: 15px;
      }

      .input {
        padding: 8px;
        border: 1px solid #ccc;

        &:focus-visible {
          outline: -webkit-focus-ring-color auto 1px;
        }
      }

      // Hide controls for type Number Inputs
      .input[type="number"] {
        /* Firefox */
        -moz-appearance: textfield;

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          margin: 0;
          -webkit-appearance: none;
        }
      }
    }

    &-submit {
      display: block;

      width: 100%;

      cursor: pointer;

      margin-top: 16px;
      margin-bottom: 16px;

      padding: 16px;

      border: none;
      outline: none;

      font-size: 15px;
      font-weight: map-get($font-weights, bold);
      text-transform: uppercase;

      color: map-get($colors, text-0);
      background-color: #009688;

      i {
        color: map-get($colors, text-0);
      }

      &:hover {
        color: map-get($colors, text-1);
        background-color: #ccc;

        i {
          color: map-get($colors, text-1);
        }
      }
    }
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 8px 16px;

    border: none;

    outline: none;

    background-color: #f44336;

    * {
      font-weight: map-get($font-weights, bold);

      color: map-get($colors, text-0);
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 18px;
    }

    &:hover {
      color: map-get($colors, text-1);

      background-color: #ccc;
    }
  }

  &-help a {
    font-size: 15px;
    color: #2196f3;
  }
}

@-webkit-keyframes animateTop {
  from {
    opacity: 0;

    top: -300px;
  }
  to {
    opacity: 1;

    top: 0;
  }
}

@keyframes animateTop {
  from {
    opacity: 0;

    top: -300px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
